 html {
     box-sizing: content-box;
 }

 *,
 *::before,
 *::after {
     box-sizing: inherit;
 }

 ul,
 p,
 h1,
 h2,
 h3 {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 ul {
     list-style: none;
 }

 a{
    text-decoration: none;
 }

.container{
    width: 1010px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header .container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 40px
}

.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    display: flex;
    margin-left: 465px;
}

.nav-list .list-item:not(:first-child){
    margin-left: 114px;
}

.nav-link{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;    
    text-align: center;
    letter-spacing: 0.2px;
    
        
    
    color: #252B42;
}

.nav-link:hover{
    color: #FA4A0C;
}

.hero{
    background-image: url(./icons/Rectangle\ 48.svg);
    background-position: center ;
    background-size: cover;
}

.hero{
    padding-top: 80px;
    padding-bottom: 162px;
}

h1{
    font-style: normal;
        font-weight: 700;
        font-size: 58px;
        line-height: 80px;
        
    
        text-align: center;
        letter-spacing: 0.2px;
        color: white;
}

.hero-text{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
    
        text-align: center;
        letter-spacing: 0.1px;
        color: white;
}

.description{
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
    
        text-align: center;
        letter-spacing: 0.2px;
        color: white;

        margin-bottom: 78px;
}

.buttons-list{
    display: flex;
    justify-content: center;
}

.buttons-list .list-item:not(:first-child){
    margin-left: 67px;
}


.hero-button{
    padding: 16px 58px;
    background: linear-gradient(0deg, rgba(23, 16, 16, 0.6), rgba(23, 16, 16, 0.6)), url(./icons/Rectangle\ 48.jpg);
    background: transparent;
    color: #fff;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;

    border: solid 1px #fff;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border-radius: 30px;

}

.button-2{
    padding: 16px 82px;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #FA4A0C;

    border: none;
}





